Age-specific fertility rates, Total fertility and .xls
DOH COVID Data Drop_ 20201109 - 04 Case Information.csv
DOH COVID Data Drop_ 20201109 - 07 Testing Aggregates.csv
DOH COVID Data Drop_ 20201110 - 04 Case Information.csv
DNK_STMF_COV.rds
Output_5.zip
STMFinput.zip
